<div class="navbar navbar-fixed-top">
    <div class="container">
        <h2>New Registration - BioSafety(eIBC)</h2>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <div class="list-group">
                <a href="#QandA/0" class="list-group-item">Initial Application</a>
                <a href="#QandA/1" class="list-group-item">Laboratory Initial Application</a>
                <a href="#QandA/2" class="list-group-item">Detailed Research Plan</a>
                <a href="" class="list-group-item">Work Location</a>
                <a href="" class="list-group-item">Occupational Health</a>
                <a href="" class="list-group-item">Sponsor Funding</a>
                <a href="" class="list-group-item">Staff & Access</a>
                <a href="" class="list-group-item">Attachment</a>
                <a href="" class="list-group-item">Submission</a>
                <a href="" class="list-group-item">Workflow History</a>
            </div>
        </div>

        <div class="col-lg-9">
            <div class="well">
                <form>
                    <div id="PageHost" data-bind="compose: router.activeItem">
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>
